<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all'); -%>

<section id="main" class="w-[1100px] lg:px-0 m-auto pb-28">
    <p id="header-firstname" class="lg:pb-3 lg:pt-8 py-5 text-main text-xl font-bold">Hi, <span class="firstname"></span></p>

    <div class="lg:grid lg:grid-cols-[1fr_.6fr] lg:gap-5">
        <div class="flex flex-col gap-5 lg:gap-4">

            <!-- BASIC INFORMATION -->
            <div class="basic-info rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="lg:w-100 bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2">BASIC INFORMATION</p>
                    <p id="edit-basic-info" class="cursor-pointer text-background text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div class="lg:w-100 p-5 pb-6 bg-white noise lg:rounded-none border-2 lg:border-0 border-header">
                    <div class="lg:flex lg:items-start lg:gap-5">
                        <div class="w-[88px] h-[88px] min-w-[88px] min-h-[88px] rounded-full overflow-hidden mx-auto lg:mx-0">
                            <img id="basic-profile-pic" src="/img/no-profile.jpg" alt="profile-picture" class="w-full h-full object-cover">
                        </div>
                        <div class="w-full">
                            <div class="mb-4 text-center lg:text-left">
                                <p id="basic-fullname" class="font-bold text-xl text-main">Assami Muzaki</p>
                                <p id="basic-current-position" class="text-sm text-thrid/60 font-medium">Founder of Internshits</p>
                            </div>
                            <hr>
                            <div class="grid grid-cols-2 w-full gap-3 pt-4 text-white">
                                <div class="col-span-2">
                                    <span class="text-thrid/60 font-medium text-sm">EMAIL</span>
                                    <p id="basic-email" class="text-second/80 font-second font-medium text-sm">assamim80@gmail.com</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">MOBILE</span>
                                    <p id="basic-mobile" class="text-second/80 font-second font-medium text-sm">085712062191</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">BIRTHDATE</span>
                                    <p id="basic-birthdate" class="text-second/80 font-second font-medium text-sm">18 Oktober 2001</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">SEX</span>
                                    <p id="basic-sex" class="text-second/80 font-second font-medium text-sm">Laki-Laki</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">DOMICILE</span>
                                    <p id="basic-domicile" class="text-second/80 font-second font-medium text-sm">Jakarta</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROFILE SUMMARY -->
            <div class="profile-summary rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2">PROFILE SUMMARY</p>
                    <p id="edit-profile-summary" class="cursor-pointer text-white text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="profile-summary" class="w-full p-5 pb-6 noise bg-white border-2 lg:border-0 border-header lg:rounded-b-2xl">
                    <div id="off-summary" class="text-center">
                        <p class="font-bold text-base text-main mb-3">Write your profile summary here!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">This is your chance to put a good word about yourself, so that recruiters could catch a glimpse of you as a candidate.</p>
                        <button id="button-profile-summary" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Add Profile Summary
                        </button>
                    </div>
                    <div id="on-summary" class="">
                        <p id="profile-summary-text"></p>
                    </div>
                </div>
            </div>

            <!-- PROFILE SKILLS -->
            <div class="profile-skills rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2">TOP SKILLS</p>
                    <p id="edit-profile-summary" class="cursor-pointer text-white text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="profile-skills" class="w-full p-5 pb-6 noise bg-white border-2 lg:border-0 border-header lg:rounded-b-2xl">
                    <div class="text-center">
                        <p class="font-bold text-base text-main mb-3">Add your top skills here!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">Skills help us to find recomended jobs for you</p>
                        <button id="button-profile-summary" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Add Skills</button>
                    </div>
                </div>
            </div>

            <!-- PROFILE EXPERIENCES -->
            <div class="experiences rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2">EXPERIENCES</p>
                    <p id="edit-experiences" class="cursor-pointer text-teal-100 text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="experiences" class="w-100 px-5 bg-white noise lg:rounded-none rounded-2xl lg:rounded-b-2xl border-2 lg:border-0 border-header">
                    <div id="off-experiences" class="py-5 pb-6 text-center">
                        <p class="font-bold text-base text-main mb-3">Add your experiences here!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">The heart of your profile. You can add any experiences from university organizations, event committees, internships, and more!</p>
                        <button id="button-experiences" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Add Experiences</button>
                    </div>
                    <div id="on-experiences" class="hidden flex flex-col gap-4 pb-4 divide-y divide-gray-300">
                        
                    </div>
                </div>
            </div>

            <!-- PROFILE EDUCATIONS -->
            <div class="education rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2">EDUCATION</p>
                    <p id="edit-education" class="cursor-pointer text-teal-100 text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="educations" class="w-100 p-5 pb-6 bg-white noise lg:rounded-none rounded-2xl lg:rounded-b-2xl border-2 lg:border-0 border-header divide-header divide-y">
                    <div class="text-center">
                        <p class="font-bold text-base text-main mb-3">Add your education here!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">Just as important as experiences, your education will show recruiters what your capable of!</p>
                        <button id="button-education" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Add Education</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden lg:flex flex-col gap-3">
            <!-- PROFILE COMPLETION -->
            <!-- <div class="profie-completion rounded-2xl overlay-tale p-4">
                <p class="text-base font-normal text-white tracking-[1.6px]">PROFILE COMPLETION</p>
                <p class="font-extrabold text-4xl text-white mt-3 mb-2"><span id="completion_rate">0</span>%</p>
                <p class="font-second text-sm text-black/80 font-semibold">Complete your profile to differentiate yourself from other candidates!</p>
                <div class="flex flex-col gap-2 text-sm text-teal-100 font-medium font-second mt-2">
                    <p id="completion-profile-picture" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add a Profile Picture</p>
                    <p id="completion-profile-summary" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Profile Summary</p>
                    <p id="completion-experiences" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Experiences</p>
                    <p id="completion-education" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Education</p>
                    <p id="completion-resume" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Resume/CV</p>
                </div>
            </div> -->
            
            <div class="bg-main rounded-2xl p-4 pb-6 shadow-md">
                <p class="text-sm font-medium text-background">See how people see your profile</p>
                <a href="" class="mt-4 w-full flex justify-center py-2.5 bg-white font-medium rounded-lg text-sm text-black/70">
                    Preview
                </a>
            </div>

            <!-- ATTACHMENT -->
            <div class="attachments bg-white border-main border-2 noise rounded-2xl p-4 pb-6 shadow-md">
                <div class="w-100 flex items-center justify-between rounded-t-2xl">
                    <p class="text-main flex items-center gap-2">ATTACHMENTS</p>
                    <p id="edit-attachment" class="cursor-pointer text-main text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <p class="font-second text-sm font-semibold text-black/80 mt-3 mb-4">You can attach your latest CV or Portfolio here!</p>
                <div class="">
                    <div class="attachment-body-resume">
                        <p class="hidden field_name">atc_resume</p>
                        <p class="flex items-center gap-2 text-black/80">RESUME*</p>
                        <div class="porto flex items-center bg-background rounded-lg border border-main justify-between p-3 mt-2">
                            <div class="">
                                <a href="#" target="_blank" class="font-second text-sm text-main flex items-center gap-2"><i class="uil uil-link-h text-main"></i><span id="resume"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 attachment-body-portfolio">
                        <p class="hidden field_name">atc_portfolio</p>
                        <p class="flex items-center gap-2 text-black/80">PORTFOLIO</p>
                        <div class="porto flex items-center bg-background border border-main rounded-lg justify-between p-3 mt-2">
                            <div class="flex items-center gap-2">
                                <div class="">
                                    <a target="_blank" href="#" class="font-second text-sm text-main flex items-center gap-2"><i class="uil uil-link-h text-main"></i><span id="portfolio"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SOCIALS -->
            <div class="socials bg-white border-main border-2 noise rounded-2xl p-4 pb-5 shadow-md">
                <div class="w-100 flex items-center justify-between rounded-t-2xl">
                    <p class="text-main flex items-center gap-2">SOCIALS</p>
                    <p id="edit-socials" class="cursor-pointer text-main text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <p class="font-second text-sm font-semibold text-black/80 mt-3 mb-4">Make other people easier to find your ability!</p>
                <div id="socials" class="hidden flex items-center gap-4 text-thrid/80 text-2xl">
                    <a id="link-twitter" href="" class="hidden link-social"><i class="uil uil-twitter"></i></a>
                    <a id="link-instagram" href="" class="hidden link-social"><i class="uil uil-instagram-alt"></i></a>
                    <a id="link-linkedin" href="" class="hidden link-social"><i class="uil uil-linkedin"></i></a>
                    <a id="link-behance" href="" class="hidden link-social"><i class="uil uil-behance"></i></a>
                    <a id="link-github" href="" class="hidden link-social"><i class="uil uil-github"></i></a>
                    <a id="link-youtube" href="" class="hidden link-social"><i class="uil uil-youtube"></i></a>
                </div>
            </div>

            <!-- PROFILE VIEWS -->
            <div class="profile-viewers bg-main noise rounded-2xl p-4 pb-5 shadow-md">
                <div class="w-100 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M10.0002 13.3333C11.0418 13.3333 11.9272 12.9688 12.6564 12.2396C13.3856 11.5104 13.7502 10.625 13.7502 9.58334C13.7502 8.54168 13.3856 7.65626 12.6564 6.92709C11.9272 6.19793 11.0418 5.83334 10.0002 5.83334C8.9585 5.83334 8.07308 6.19793 7.34391 6.92709C6.61475 7.65626 6.25016 8.54168 6.25016 9.58334C6.25016 10.625 6.61475 11.5104 7.34391 12.2396C8.07308 12.9688 8.9585 13.3333 10.0002 13.3333ZM10.0002 11.8333C9.37516 11.8333 8.84391 11.6146 8.40641 11.1771C7.96891 10.7396 7.75016 10.2083 7.75016 9.58334C7.75016 8.95834 7.96891 8.42709 8.40641 7.98959C8.84391 7.55209 9.37516 7.33334 10.0002 7.33334C10.6252 7.33334 11.1564 7.55209 11.5939 7.98959C12.0314 8.42709 12.2502 8.95834 12.2502 9.58334C12.2502 10.2083 12.0314 10.7396 11.5939 11.1771C11.1564 11.6146 10.6252 11.8333 10.0002 11.8333ZM10.0002 15.8333C7.97238 15.8333 6.12516 15.2674 4.4585 14.1354C2.79183 13.0035 1.5835 11.4861 0.833496 9.58334C1.5835 7.68057 2.79183 6.1632 4.4585 5.03126C6.12516 3.89932 7.97238 3.33334 10.0002 3.33334C12.0279 3.33334 13.8752 3.89932 15.5418 5.03126C17.2085 6.1632 18.4168 7.68057 19.1668 9.58334C18.4168 11.4861 17.2085 13.0035 15.5418 14.1354C13.8752 15.2674 12.0279 15.8333 10.0002 15.8333Z" fill="white"/>
                      </svg> PROFILE VIEWERS</p>
                </div>
                <p class="font-second text-sm font-semibold text-background mt-3">The number of people who viewed your profile this week.</p>
                <p class="font-extrabold text-4xl text-white mt-5 flex items-center gap-2"><span id="profile-viewers">0</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M3.4 18L2 16.6L9.4 9.15L13.4 13.15L18.6 8H16V6H22V12H20V9.4L13.4 16L9.4 12L3.4 18Z" fill="#2BDE68"/>
                  </svg></p>
            </div>

            <!-- VISIBILITY -->
            <div class="visibility-status bg-white border-2 border-main rounded-2xl p-4 pb-5 shadow-md">
                <form id="form-update-active-search">
                    <div class="w-100 rounded-t-2xl">
                        <p class="text-main flex items-center gap-2">ACTIVESEARCH VISIBILITY</p>
                    </div>
                    <p class="font-second text-sm font-semibold text-black/80 mt-3">If this is turned on, recruiters are able to handpick you for job invites!</p>
                    <label class="relative inline-flex items-center cursor-pointer mt-5">
                        <input id="active-search" name="active_search" type="checkbox" value="" class="sr-only peer">
                        <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                        <span id="active-search-status" class="ml-2 text-red-500 font-second text-sm font-semibold">ActiveSearch is off.</span>
                    </label>
                </form>
            </div>

            <form action="/api/v1/seeker/logout" method="post">
                <button class="bg-second noise w-full py-4 flex items-center gap-2 text-red-500 font-bold rounded-lg justify-center font-second text-sm">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.66667 15.5C1.20833 15.5 0.815972 15.3368 0.489583 15.0104C0.163194 14.684 0 14.2917 0 13.8333V2.16667C0 1.70833 0.163194 1.31597 0.489583 0.989583C0.815972 0.663194 1.20833 0.5 1.66667 0.5H6.66667C6.90278 0.5 7.10069 0.579861 7.26042 0.739583C7.42014 0.899306 7.5 1.09722 7.5 1.33333C7.5 1.56944 7.42014 1.76736 7.26042 1.92708C7.10069 2.08681 6.90278 2.16667 6.66667 2.16667H1.66667V13.8333H6.66667C6.90278 13.8333 7.10069 13.9132 7.26042 14.0729C7.42014 14.2326 7.5 14.4306 7.5 14.6667C7.5 14.9028 7.42014 15.1007 7.26042 15.2604C7.10069 15.4201 6.90278 15.5 6.66667 15.5H1.66667ZM11.8125 8.83333H5.83333C5.59722 8.83333 5.39931 8.75347 5.23958 8.59375C5.07986 8.43403 5 8.23611 5 8C5 7.76389 5.07986 7.56597 5.23958 7.40625C5.39931 7.24653 5.59722 7.16667 5.83333 7.16667H11.8125L10.25 5.60417C10.0972 5.45139 10.0208 5.26389 10.0208 5.04167C10.0208 4.81944 10.0972 4.625 10.25 4.45833C10.4028 4.29167 10.5972 4.20486 10.8333 4.19792C11.0694 4.19097 11.2708 4.27083 11.4375 4.4375L14.4167 7.41667C14.5833 7.58333 14.6667 7.77778 14.6667 8C14.6667 8.22222 14.5833 8.41667 14.4167 8.58333L11.4375 11.5625C11.2708 11.7292 11.0729 11.809 10.8438 11.8021C10.6146 11.7951 10.4167 11.7083 10.25 11.5417C10.0972 11.375 10.0243 11.1771 10.0312 10.9479C10.0382 10.7188 10.1181 10.5278 10.2708 10.375L11.8125 8.83333Z" fill="#FC4545"/>
                    </svg>
                     Logout from this account
                </button>
            </form>
        </div>
    </div>
</section>

<section id="popup" class="hidden fixed top-0 bottom-0 left-0 right-0 bg-black/50 z-20 flex items-end lg:items-center justify-center h-100">

    <!-- POPUP BASIC INFORMATION -->
    <%- include('./components/ProfilePopup/ProfileBasicInformation'); -%>
    
    <!-- POPUP PROFILE SUMMARY -->
    <%- include('./components/ProfilePopup/ProfileSummary'); -%>
    
    <!-- POPUP EXPERIENCES -->
    <%- include('./components/ProfilePopup/ProfileExperiences'); -%>
    
    <!-- POPUP EDUCATION -->
    <%- include('./components/ProfilePopup/ProfileEducations'); -%>

    <!-- POPUP ATTACHMENT -->
    <%- include('./components/ProfilePopup/Attachments'); -%>

    <!-- POPUP SOCIALS -->
    <%- include('./components/ProfilePopup/Socials'); -%>


</section>



<%- include('./layouts/footer'); -%>

<script>
    // Get User untuk initialisasi data di page ini
    $.ajax({
        url: '/api/v1/users/info',
        type: 'get',
        dataType: 'json',
        headers: {
            "Authorization": window.USER_TOKEN,
        },
        success: async function (userData) {
            const data = decrypt(userData.r);
            console.log(data);

            // ACTIVE SEARCH VISIBILITY
            InitActivesearch(data)

            // Inisialisasi Attachment
            InitAttachment(data.attachments)

            // Inisialisasi Socials
            InitSocials(data.socials)
            
            // Inisialisasi basic information
            InitBasic(data)

            // Inisialisasi summary
            InitSummary(data)

            // Inisialisasi Experiences
            InitExperiences(data.experiences)
            
            // Inisialisasi Educations









            
        },
        error: function(xhr){
            window.location.href = "/"
        }
    });
    
    $(".close-x").click(function(){
        $(this).closest('.popup').slideToggle(function(){
            $(this).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    $("#active-search").change(function(){
        const isChecked = $(this).is(":checked")
        const formData = new FormData()
        formData.append("active_search", isChecked)

        $.ajax({
            url: "/api/v1/users",
            type: "PUT",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            headers: {
                "Authorization": window.USER_TOKEN,
            },
            success: (response) => {
                InitActivesearch(response)
                return
            },
            error: function (request, status, error) {
                return request
            },
        })
    })

    $(".experiences").on("click", ".button-readmore", function(){
        const content = $(this).closest(".content")
        content.addClass("hidden")
        content.prev().removeClass("hidden")
    })



    // socials edit
    PutUserData("form-edit-socials", "/api/v1/users/info/socials", function(dis, response){
        InitSocials(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    // attachment edit
    PutUserData("form-edit-attachment", "/api/v1/users/info/attachments", function(dis, response){
        InitAttachment(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    // basic information submit DOM
    PutUserData("form-basic-information", "/api/v1/users", function(dis, response){
        InitBasic(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    // summary submit DOM
    PutUserData("form-profile-summary", "/api/v1/users", function(dis, response){
        InitSummary(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })




    $(`#form-add-experience`).submit(function(e){
        e.preventDefault();
        let formData = new FormData($(this)[0])

        $.ajax({
            url: "/api/v1/users/info/experiences",
            type: "POST",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            headers: {
                "Authorization": window.USER_TOKEN,
            },
            success: (response) => {
                $("#adding-new-experience").addClass("hidden")
                $("#registered-experience").removeClass("hidden")
                $(this).closest('.popup').slideToggle(function(){
                    $(this).closest('#popup').fadeOut()
                })
                InitExperiences(response)
                $(`#form-add-experience`).trigger("reset");
                $("body").removeClass('no-scroll');
                return
            },
            error: function (request, status, error) {
                return request
            },
        });
    })


    function PutUserData(formName, url, callback = () => {}){
        $(`#${formName}`).submit(function(e){
            e.preventDefault();
            let formData = new FormData($(this)[0])

            $.ajax({
                url: url,
                type: "PUT",
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                encrypt: "multipart/form-data",
                processData: false,
                headers: {
                    "Authorization": window.USER_TOKEN,
                },
                success: (response) => {
                    // callback parameter this isinya button submit yang di klik
                    // biar bisa dipake buat manipulasi dom
                    callback(this, response)
                    return
                },
                error: function (request, status, error) {
                    return request
                },
            });
        })
    }

    function InitBasic(data){
        $(".firstname").text(data.firstname)
        $("#basic-fullname").text(`${data.firstname} ${data.lastname}`)
        $("#popup-firstname").val(data.firstname)
        $("#popup-lastname").val(data.lastname)
        $("#basic-email").text(data.email)
        $("#popup-email").val(data.email)
        $("#basic-mobile").text(data.mobile ? data.mobile : "no data")
        $("#popup-mobile").val(data.mobile ? data.mobile : "")
        $("#basic-sex").text(data.sex ? data.sex : "no data")
        $("#popup-sex").val(data.sex ? data.sex : "")
        $("#basic-birthdate").text(data.date_of_birth ? data.date_of_birth : "no data")
        $("#popup-birthdate").val(data.date_of_birth ? data.date_of_birth : "")
        $("#basic-domicile").text(data.domicile ? data.domicile : "no data")
        $("#popup-domicile").val(data.domicile ? data.domicile : "")
    }

    function InitSummary(data){
        if(data.summary){
            $("#off-summary").addClass("hidden")
            $("#on-summary").removeClass("hidden")
            $("#popup-summary-textarea").val(data.summary)
            document.getElementById('profile-summary-text').innerHTML = data.summary.replace(/\n/g, '<br/>');
        }else{
            $("#off-summary").removeClass("hidden")
            $("#on-summary").addClass("hidden")
        }
    }

    function InitAttachment(data){
        console.log(data.atc_portfolio);
        if(data){
            $("#portfolio").text(data.atc_portfolio ? data.atc_portfolio.length > 38 ? data.atc_portfolio.substring(0,38)+"..." : data.atc_portfolio : "-")
            $("#resume").text(data.atc_resume ? data.atc_resume.length > 38 ? data.atc_resume.substring(0,38)+"..." : data.atc_resume : "-")
            
            $("#portfolio").parent().prop("href", data.atc_portfolio ? data.atc_portfolio : "#")
            $("#resume").parent().prop("href", data.atc_resume ? data.atc_resume : "#")

            $("#popup-body-portfolio").val(data.atc_portfolio ? data.atc_portfolio : "")
            $("#popup-body-resume").val(data.atc_resume ? data.atc_resume : "")
        }else{
            $("#portfolio").text("-")
            $("#resume").text("-")
            $("#portfolio").parent().removeAttr('href');
            $("#resume").parent().removeAttr('href');
        }
    }

    function InitSocials(data){
        $(".link-social").addClass("hidden")
        if(data){
            $("#socials").removeClass("hidden")
            if(data.twitter){
                $("#popup-social-twitter").val(data.twitter)
                $("#link-twitter").removeClass("hidden").prop("href",data.twitter)
            }
            if(data.instagram){
                $("#popup-social-instagram").val(data.instagram)
                $("#link-instagram").removeClass("hidden").prop("href",data.instagram)
            }
            if(data.linkedin){
                $("#popup-social-linkedin").val(data.linkedin)
                $("#link-linkedin").removeClass("hidden").prop("href",data.linkedin)
            }
            if(data.behance){
                $("#popup-social-behance").val(data.behance)
                $("#link-behance").removeClass("hidden").prop("href",data.behance)
            }
            if(data.github){
                $("#popup-social-github").val(data.github)
                $("#link-github").removeClass("hidden").prop("href",data.github)
            }
            if(data.youtube){
                $("#popup-social-youtube").val(data.youtube)
                $("#link-youtube").removeClass("hidden").prop("href",data.youtube)
            }
        }else{
            $("#socials").addClass("hidden")
        }
    }

    function InitActivesearch(data){
        if(data.active_search){
            $("#active-search").prop("checked", true)
            $("#active-search-status").text("Active Search is On").css("color", "green")
        }else{
            $("#active-search").prop("checked", false)
            $("#active-search-status").text("Active Search is Off").css("color", "red")
        }
    }
    
    function InitExperiences(data){
        if(data.length <= 0){
            $("#on-experiences").addClass("hidden")
            $("#off-experiences").removeClass("hidden")
        }else{
            $("#off-experiences").addClass("hidden")
            $("#on-experiences").removeClass("hidden")
            $("#on-experiences").html("")
            data.forEach((experienceData) => {
                $("#on-experiences").append(`
                    <div class="experience w-full py-5">
                        <div class="flex justify-between items-start">
                            <div class="">
                                <p class="mb-1 text-sm bg-main/60 px-2 w-max text-white">${experienceData.exp_type}</p>
                                <p class="text-xl font-semibold">${experienceData.exp_position}</p>
                                <div class="flex items-center gap-1 text-black/70">
                                    <p>${experienceData.exp_orgname}</p>
                                    <p>•</p>
                                    <p>${experienceData.exp_time}</p>
                                    <p>•</p>
                                    <p>${experienceData.exp_status} (${experienceData.exp_location})</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-sm">Nov 2023 - Now</p>
                                <p class="text-xs text-black/60">8 MONTH</p>
                            </div>
                        </div>
                        <!-- BODY -->
                        <p class="id hidden">${experienceData.id}</p>
                        <p class="mt-3 hidden">${experienceData.exp_description.replace(/\n/g, '<br/>')}</p>
                        <p class="mt-3 content">${experienceData.exp_description.length > 210 ? `${experienceData.exp_description.replace(/\n/g, '<br/>').substring(0,210)}... <button class="button-readmore text-sm text-main">Read More</button>` : experienceData.exp_description.replace(/\n/g, '<br/>')}</p>
                    </div>
                `)
            })
        }
    }

    const decrypt = (data, keys='<%= process.env.AES_KEYS %>') => {
        let bytes = CryptoJS.AES.decrypt(data, keys)
        return JSON.parse(bytes.toString(CryptoJS.enc.Utf8))
    }

</script>