<%- include('./layouts/header'); -%>
<%- include('./layouts/navbar-all'); -%>

<section id="main" class="w-[1100px] lg:px-0 m-auto pb-28">
    <p id="header-firstname" class="lg:pb-3 lg:pt-8 py-5 text-main text-xl font-bold">Hi, <span class="firstname"></span></p>

    <div class="lg:grid lg:grid-cols-[1fr_.6fr] lg:gap-5">
        <div class="flex flex-col gap-5 lg:gap-4">

            <!-- BASIC INFORMATION -->
            <div class="basic-info rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="lg:w-100 bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2"><i class="uil uil-info-circle"></i> INFORMASI BASIC</p>
                    <p id="edit-basic-info" class="cursor-pointer text-background text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div class="lg:w-100 p-5 pb-6 bg-white noise lg:rounded-none border-2 lg:border-0 border-header">
                    <div class="lg:flex lg:items-start lg:gap-5">
                        <div class="w-[88px] h-[88px] min-w-[88px] min-h-[88px] rounded-full overflow-hidden mx-auto lg:mx-0">
                            <img id="basic-profile-pic" src="" onerror="src='/img/no-profile.jpg'" alt="profile-picture" class="w-full h-full object-cover">
                        </div>
                        <div class="w-full">
                            <div class="mb-4 text-center lg:text-left">
                                <p id="basic-fullname" class="font-bold text-xl text-main">Assami Muzaki</p>
                                <p id="basic-headline" class="text-sm text-thrid/60 font-medium">Founder of Internshits</p>
                            </div>
                            <hr>
                            <div class="grid grid-cols-2 w-full gap-3 pt-4 text-white">
                                <div class="col-span-2">
                                    <span class="text-thrid/60 font-medium text-sm">EMAIL</span>
                                    <p id="basic-email" class="text-second/80 font-second font-medium text-sm">assamim80@gmail.com</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">NO HP</span>
                                    <p id="basic-mobile" class="text-second/80 font-second font-medium text-sm">085712062191</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">TANGGAL LAHIR</span>
                                    <p id="basic-birthdate" class="text-second/80 font-second font-medium text-sm">18 Oktober 2001</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">KELAMIN</span>
                                    <p id="basic-sex" class="text-second/80 font-second font-medium text-sm">Laki-Laki</p>
                                </div>
                                <div class="">
                                    <span class="text-thrid/60 font-medium text-sm">DOMISILI</span>
                                    <p id="basic-domicile" class="text-second/80 font-second font-medium text-sm">Jakarta</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROFILE SUMMARY -->
            <div class="profile-summary rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2"><i class="uil uil-user"></i> RINGKASAN PROFIL</p>
                    <p id="edit-profile-summary" class="cursor-pointer text-white text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="profile-summary" class="w-full p-5 pb-6 noise bg-white border-2 lg:border-0 border-header lg:rounded-b-2xl">
                    <div id="off-summary" class="text-center">
                        <p class="font-bold text-base text-main mb-3">Tulis ringkasan profil kamu disini!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">Ini kesempatan bagus untuk menunjukan siapa diri kamu secara ringkas, sehingga orang lain mendapatkan gambaran tentang dirimu.</p>
                        <button id="button-profile-summary" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Tambahkan ringkasan profil
                        </button>
                    </div>
                    <div id="on-summary" class="">
                        <p id="profile-summary-text"></p>
                    </div>
                </div>
            </div>

            <!-- PROFILE SKILLS -->
            <div class="profile-skills rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2"><i class="uil uil-basketball"></i> KEAHLIAN</p>
                    <p id="edit-profile-skills" class="cursor-pointer text-white text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="profile-skills" class="w-full p-5 pb-6 noise bg-white border-2 lg:border-0 border-header lg:rounded-b-2xl">
                    <div id="off-skills" class="text-center">
                        <p class="font-bold text-base text-main mb-3">Tambahkan keahlian terbaikmu disini!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">Keahlian yang kamu tambahkan, dapat membantu kami memberikan rekomondasi post yang mungkin cocok dengan profilmu</p>
                        <button id="button-profile-skills" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Tambahkan Keahlian</button>
                    </div>
                    <div id="on-skills" class="">
                        <!-- HERE -->
                    </div>
                </div>
            </div>

            <!-- PROFILE EXPERIENCES -->
            <div class="experiences rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2"><i class="uil uil-bag"></i> PENGALAMAN</p>
                    <p id="edit-experiences" class="cursor-pointer text-teal-100 text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="experiences" class="w-full px-5 bg-white noise lg:rounded-none rounded-2xl lg:rounded-b-2xl border-2 lg:border-0 border-header">
                    <div id="off-experiences" class="py-5 pb-6 text-center">
                        <p class="font-bold text-base text-main mb-3">Tambahkan pengalaman kamu disini!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">Pengalaman merupakan jantung dari portfoliomu. Kamu dapat menambahkan pengalaman internship, parttime, fulltime, hingga pengalaman organisasi!</p>
                        <button id="button-experiences" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Tambahkan Pengalaman</button>
                    </div>
                    <div id="on-experiences" class="hidden flex flex-col gap-4 pb-4 divide-y divide-gray-300">
                        
                    </div>
                </div>
            </div>

            <!-- PROFILE EDUCATIONS -->
            <div class="educations rounded-2xl overflow-hidden shadow-md border-2 border-main">
                <div class="w-100 lg:bg-main flex items-center justify-between lg:px-5 py-3">
                    <p class="text-white flex items-center gap-2"><i class="uil uil-graduation-cap"></i> PENDIDIKAN</p>
                    <p id="edit-education" class="cursor-pointer text-teal-100 text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <div id="educations" class="w-full px-5 bg-white noise lg:rounded-none rounded-2xl lg:rounded-b-2xl border-2 lg:border-0 border-header">
                    <div id="off-educations" class="text-center py-5">
                        <p class="font-bold text-base text-main mb-3">Tambahkan pendidikanmu disini!</p>
                        <p class="font-second text-black/80 text-sm font-medium px-2 lg:px-24 mb-5 lg:mb-2">Pendidikan dapat meningkatkan kapabilitas kamu di mata orang lain, beri tau semua orang apa yang kamu bisa!</p>
                        <button id="button-education" class="flex items-center gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 m-auto mt-4">Tambahkan pendidikan</button>
                    </div>
                    <div id="on-educations" class="hidden flex flex-col gap-4 pb-4 divide-y divide-gray-300">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden lg:flex flex-col gap-3">
            <!-- PROFILE COMPLETION -->
            <!-- <div class="profie-completion rounded-2xl overlay-tale p-4">
                <p class="text-base font-normal text-white tracking-[1.6px]">PROFILE COMPLETION</p>
                <p class="font-extrabold text-4xl text-white mt-3 mb-2"><span id="completion_rate">0</span>%</p>
                <p class="font-second text-sm text-black/80 font-semibold">Complete your profile to differentiate yourself from other candidates!</p>
                <div class="flex flex-col gap-2 text-sm text-teal-100 font-medium font-second mt-2">
                    <p id="completion-profile-picture" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add a Profile Picture</p>
                    <p id="completion-profile-summary" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Profile Summary</p>
                    <p id="completion-experiences" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Experiences</p>
                    <p id="completion-education" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Education</p>
                    <p id="completion-resume" class="flex items-center gap-2 cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <circle cx="8" cy="8.5" r="8" fill="white" fill-opacity="0.16"/>
                        <circle cx="8" cy="8.5" r="7" stroke="white" stroke-opacity="0.16" stroke-width="2"/>
                        </svg>Add Resume/CV</p>
                </div>
            </div> -->
            
            <!-- <div class="bg-main rounded-2xl p-4 pb-6 shadow-md">
                <p class="text-sm font-medium text-background">See how people see your profile</p>
                <a href="" class="mt-4 w-full flex justify-center py-2.5 bg-white font-medium rounded-lg text-sm text-black/70">
                    Preview
                </a>
            </div> -->

            <!-- ATTACHMENT -->
            <div class="attachments bg-white border-main border-2 noise rounded-2xl p-4 pb-6 shadow-md">
                <div class="w-100 flex items-center justify-between rounded-t-2xl">
                    <p class="text-main flex items-center gap-2"><i class="uil uil-file-alt"></i> LAMPIRAN</p>
                    <p id="edit-attachment" class="cursor-pointer text-main text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <p class="font-second text-sm font-semibold text-black/80 mt-3 mb-4">Kamu bisa menambahkan CV dan Portfolio terbarumu disini!</p>
                <div class="">
                    <div class="attachment-body-resume">
                        <p class="flex items-center gap-2 text-black/80">RESUME*</p>
                        <div class="porto flex items-center bg-background rounded-lg border border-main justify-between p-3 mt-2">
                            <div class="">
                                <a href="#" target="_blank" class="font-second text-sm text-main flex items-center gap-2"><i class="uil uil-link-h text-main"></i><span id="resume"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 attachment-body-portfolio">
                        <p class="flex items-center gap-2 text-black/80">PORTFOLIO</p>
                        <div class="porto flex items-center bg-background border border-main rounded-lg justify-between p-3 mt-2">
                            <div class="flex items-center gap-2">
                                <div class="">
                                    <a target="_blank" href="#" class="font-second text-sm text-main flex items-center gap-2"><i class="uil uil-link-h text-main"></i><span id="portfolio"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SOCIALS -->
            <div class="socials bg-white border-main border-2 noise rounded-2xl p-4 pb-5 shadow-md">
                <div class="w-100 flex items-center justify-between rounded-t-2xl">
                    <p class="text-main flex items-center gap-2"><i class="uil uil-share"></i> SOSIAL</p>
                    <p id="edit-socials" class="cursor-pointer text-main text-sm font-second flex items-center gap-2">Edit</p>
                </div>
                <p class="font-second text-sm font-semibold text-black/80 mt-3 mb-4">Buat semua orang lebih mudah mengenali tentang kamu!</p>
                <div id="socials" class="hidden flex items-center gap-4 text-thrid/80 text-2xl">
                    <a id="link-twitter" href="" target="_blank" class="hidden link-social"><i class="uil uil-twitter"></i></a>
                    <a id="link-instagram" href="" target="_blank" class="hidden link-social"><i class="uil uil-instagram-alt"></i></a>
                    <a id="link-linkedin" href="" target="_blank" class="hidden link-social"><i class="uil uil-linkedin"></i></a>
                    <a id="link-behance" href="" target="_blank" class="hidden link-social"><i class="uil uil-behance"></i></a>
                    <a id="link-github" href="" target="_blank" class="hidden link-social"><i class="uil uil-github"></i></a>
                    <a id="link-youtube" href="" target="_blank" class="hidden link-social"><i class="uil uil-youtube"></i></a>
                </div>
            </div>

            <!-- PROFILE VIEWS -->
            <div class="profile-viewers bg-main noise rounded-2xl p-4 pb-5 shadow-md">
                <div class="w-100 rounded-t-2xl">
                    <p class="text-white flex items-center gap-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M10.0002 13.3333C11.0418 13.3333 11.9272 12.9688 12.6564 12.2396C13.3856 11.5104 13.7502 10.625 13.7502 9.58334C13.7502 8.54168 13.3856 7.65626 12.6564 6.92709C11.9272 6.19793 11.0418 5.83334 10.0002 5.83334C8.9585 5.83334 8.07308 6.19793 7.34391 6.92709C6.61475 7.65626 6.25016 8.54168 6.25016 9.58334C6.25016 10.625 6.61475 11.5104 7.34391 12.2396C8.07308 12.9688 8.9585 13.3333 10.0002 13.3333ZM10.0002 11.8333C9.37516 11.8333 8.84391 11.6146 8.40641 11.1771C7.96891 10.7396 7.75016 10.2083 7.75016 9.58334C7.75016 8.95834 7.96891 8.42709 8.40641 7.98959C8.84391 7.55209 9.37516 7.33334 10.0002 7.33334C10.6252 7.33334 11.1564 7.55209 11.5939 7.98959C12.0314 8.42709 12.2502 8.95834 12.2502 9.58334C12.2502 10.2083 12.0314 10.7396 11.5939 11.1771C11.1564 11.6146 10.6252 11.8333 10.0002 11.8333ZM10.0002 15.8333C7.97238 15.8333 6.12516 15.2674 4.4585 14.1354C2.79183 13.0035 1.5835 11.4861 0.833496 9.58334C1.5835 7.68057 2.79183 6.1632 4.4585 5.03126C6.12516 3.89932 7.97238 3.33334 10.0002 3.33334C12.0279 3.33334 13.8752 3.89932 15.5418 5.03126C17.2085 6.1632 18.4168 7.68057 19.1668 9.58334C18.4168 11.4861 17.2085 13.0035 15.5418 14.1354C13.8752 15.2674 12.0279 15.8333 10.0002 15.8333Z" fill="white"/>
                      </svg> PROFILE VIEWERS</p>
                </div>
                <p class="font-second text-sm font-semibold text-background mt-3">Jumlah orang yang melihat profilmu sejauh ini.</p>
                <p class="font-extrabold text-4xl text-white mt-5 flex items-center gap-2"><span id="profile-viewers">0</span> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M3.4 18L2 16.6L9.4 9.15L13.4 13.15L18.6 8H16V6H22V12H20V9.4L13.4 16L9.4 12L3.4 18Z" fill="#2BDE68"/>
                  </svg></p>
            </div>

            <!-- VISIBILITY -->
            <div class="visibility-status bg-white border-2 border-main rounded-2xl p-4 pb-5 shadow-md">
                <div class="w-100 rounded-t-2xl">
                    <p class="text-main flex items-center gap-2"><i class="uil uil-hunting"></i> VISIBILITAS TALENT HUNT</p>
                </div>
                <p class="font-second text-sm font-semibold text-black/80 mt-3">Jika ini aktif, orang lain dapat melihat profile kamu dalam <a href="/market" class="text-main">Talent Hunt</a>!</p>
                <label class="relative block inline-flex items-center cursor-pointer mt-5">
                    <input id="active-search" name="active_search" disabled type="checkbox" value="" class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600"></div>
                    <span id="active-search-status" class="ml-2 text-red-500 font-second text-sm font-semibold">ActiveSearch is off.</span>
                </label>
                <button id="button-active-search" class="flex items-start gap-1 bg-main text-white rounded-lg text-sm py-2 px-4 mt-4">Deklarasi saya butuh pekerjaan !</button>
            </div>

            <form action="/api/v1/users/logout" method="post">
                <button class="bg-red-500 noise w-full py-3 border-2 border-red-600 flex items-center gap-2 text-white font-bold rounded-2xl shadow-md justify-center font-second text-sm">
                    <i class="uil uil-signout text-xl text-white"></i>
                    Logout dari akun ini
                </button>
            </form>
        </div>
    </div>
</section>

<section id="popup" class="hidden fixed top-0 bottom-0 left-0 right-0 bg-black/50 z-20 flex items-end lg:items-center justify-center h-100">

    <!-- POPUP BASIC INFORMATION -->
    <%- include('./components/ProfilePopup/ProfileBasicInformation'); -%>
    
    <!-- POPUP PROFILE SUMMARY -->
    <%- include('./components/ProfilePopup/ProfileSummary'); -%>
    
    <!-- POPUP EXPERIENCES -->
    <%- include('./components/ProfilePopup/ProfileExperiences'); -%>
    
    <!-- POPUP EDUCATION -->
    <%- include('./components/ProfilePopup/ProfileEducations'); -%>

    <!-- POPUP ATTACHMENT -->
    <%- include('./components/ProfilePopup/Attachments'); -%>

    <!-- POPUP SOCIALS -->
    <%- include('./components/ProfilePopup/Socials'); -%>

    <!-- POPUP SKILLS -->
    <%- include('./components/ProfilePopup/ProfileSkills'); -%>

    <!-- POPUP ACTIVE SEARCH -->
    <%- include('./components/ProfilePopup/ActiveSearch'); -%>


</section>



<%- include('./layouts/footer'); -%>

<script>
    // Get User untuk initialisasi data di page ini
    $.ajax({
        url: '/api/v1/users/info',
        type: 'get',
        dataType: 'json',
        headers: {
            "Authorization": window.USER_TOKEN,
        },
        success: async function (userData) {
            const data = decrypt(userData.r);

            // ACTIVE SEARCH VISIBILITY
            InitActivesearch(data)

            // Inisialisasi Attachment
            InitAttachment(data.attachments)

            // Inisialisasi Socials
            InitSocials(data.socials)
            
            // Inisialisasi basic information
            InitBasic(data)

            // Inisialisasi summary
            InitSummary(data)

            // Inisialisasi Experiences
            InitExperiences(data.experiences)
            
            // Inisialisasi Educations
            InitEducations(data.educations)

            // Inisialisasi Skills
            InitSkills(data.skills)






            if(data.experiences.length !== 0){     
                // Editing Experiences
                $(".popup-experiences").on("click", ".update-experience-button", function(){
                    const ID = $(this).next().text()
                    const EXPERIENCE = data.experiences.find(experience => experience.id == ID)
                    $("#registered-experience").addClass("hidden")
                    $("#editing-experience").removeClass("hidden")
                    document.getElementById("popup-experiences-s").scrollTo(0, 0);
                    
                    $("#editing-experience input[name=exp_position]").val(EXPERIENCE.exp_position)
                    $("#editing-experience input[name=exp_orgname]").val(EXPERIENCE.exp_orgname)
                    $("#editing-experience select[name=exp_type]").val(EXPERIENCE.exp_type)
                    $("#editing-experience select[name=exp_time]").val(EXPERIENCE.exp_time)
                    $("#editing-experience input[name=exp_startdate]").val(EXPERIENCE.exp_startdate)
                    if(EXPERIENCE.exp_enddate){
                        $("#editing-experience input[name=exp_enddate]").val(EXPERIENCE.exp_enddate)
                    } else{
                        $("#editing-experience input[name=exp_enddate]").prop("disabled", true)
                        $("#editing-experience input[type=checkbox]").prop("checked", true)
                    }
                    $("#editing-experience select[name=exp_status]").val(EXPERIENCE.exp_status)
                    $("#editing-experience input[name=exp_location]").val(EXPERIENCE.exp_location)
                    $("#editing-experience textarea[name=exp_description]").val(EXPERIENCE.exp_description)

                    $("#editing-experience input[type=checkbox]").change(function(){
                        if($(this).is(":checked")){
                            $("#editing-experience input[name=exp_enddate]").prop("disabled", true)
                            $("#editing-experience input[name=exp_enddate]").val("")
                        }else{
                            $("#editing-experience input[name=exp_enddate]").prop("disabled", false)
                        }
                    })

                    $(".cancle-edit").click(function(){
                        $(this).closest("#editing-experience").addClass("hidden")
                        $("#registered-experience").removeClass("hidden")
                        document.getElementById("popup-experiences-s").scrollTo(0, 0);
                    })

                    // UPDATE
                    PutUserData("form-editing-experience", `/api/v1/users/info/experiences/${ID}`, function(dis, response){
                        $("#editing-experience").addClass("hidden")
                        $("#registered-experience").removeClass("hidden")
                        $(dis).closest('.popup').slideToggle(function(){
                            $(dis).closest('#popup').fadeOut()
                        })
                        InitExperiences(response)
                        $(`#form-editing-experience`).trigger("reset");
                        $("body").removeClass('no-scroll');
                    })
                })
            }
        
            if(data.educations.length !== 0){
                const EDUCATIONS = data.educations
                // Editing Education
                $("#popup").on("click", ".update-education-button", function(){
                    $("#registered-education").addClass("hidden")
                    $("#editing-education").removeClass("hidden")
                    document.getElementById("popup-educations-s").scrollTo(0, 0);
                    
                    const CARD_EDUCATION_ID = $(this).next().text()
                    let obj = EDUCATIONS.find(edu => edu.id === CARD_EDUCATION_ID)
                    $("#editing-education input[name=edu_program]").val(obj.edu_program)
                    $("#editing-education input[name=edu_institution]").val(obj.edu_institution)
                    $("#editing-education select[name=edu_type]").val(obj.edu_type)
                    $("#editing-education input[name=edu_gpa]").val(obj.edu_gpa)
                    $("#editing-education input[name=edu_startdate]").val(obj.edu_startdate)
                    $("#editing-education input[name=edu_enddate]").val(obj.edu_enddate)
                    $("#editing-education input[name=edu_status]").val(obj.edu_status)
                    $("#editing-education input[name=edu_location]").val(obj.edu_location)
                    $("#editing-education textarea[name=edu_description]").val(obj.edu_description)

                    $(".cancle-edit").click(function(){
                        $(this).closest("#editing-education").addClass("hidden")
                        $("#registered-education").removeClass("hidden")
                        document.getElementById("popup-educations-s").scrollTo(0, 0);
                    })
                    
                    // UPDATE
                    PutUserData("form-editing-education", `/api/v1/users/info/educations/${CARD_EDUCATION_ID}`, function(dis, response){
                        $("#adding-new-educations").addClass("hidden")
                        $("#registered-educations").removeClass("hidden")
                        $(dis).closest('.popup').slideToggle(function(){
                            $(dis).closest('#popup').fadeOut()
                        })
                        InitEducations(response)
                        $(`#form-editing-education`).trigger("reset");
                        $("body").removeClass('no-scroll');
                    })
                })
            }
        },
        error: function(xhr){
            window.location.href = "/"
        }
    });
    
    $(".close-x").click(function(){
        $(this).closest('.popup').slideToggle(function(){
            $(this).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    $(".experiences, .educations").on("click", ".button-readmore", function(){
        const content = $(this).closest(".content")
        content.addClass("hidden")
        content.prev().removeClass("hidden")
    })



    // socials edit
    PutUserData("form-edit-socials", "/api/v1/users/info/socials", function(dis, response){
        InitSocials(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    // attachment edit
    PutUserData("form-edit-attachment", "/api/v1/users/info/attachments", function(dis, response){
        InitAttachment(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    // basic information submit DOM
    PutUserData("form-basic-information", "/api/v1/users", function(dis, response){
        InitBasic(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })

    // summary submit DOM
    PutUserData("form-profile-summary", "/api/v1/users", function(dis, response){
        InitSummary(response)
        $(dis).closest('.popup').slideToggle(function(){
            $(dis).closest('#popup').fadeOut()
        })
        $("body").removeClass('no-scroll');
    })











    $(`#form-add-experience`).submit(function(e){
        e.preventDefault();
        let formData = new FormData($(this)[0])

        $.ajax({
            url: "/api/v1/users/info/experiences",
            type: "POST",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            headers: {
                "Authorization": window.USER_TOKEN,
            },
            success: (response) => {
                $("#adding-new-experience").addClass("hidden")
                $("#registered-experience").removeClass("hidden")
                $(this).closest('.popup').slideToggle(function(){
                    $(this).closest('#popup').fadeOut()
                })
                InitExperiences(response)
                $(`#form-add-experience`).trigger("reset");
                $("body").removeClass('no-scroll');
                return
            },
            error: function (request, status, error) {
                return request
            },
        });
    })

    $(`#form-add-education`).submit(function(e){
        e.preventDefault();
        let formData = new FormData($(this)[0])

        $.ajax({
            url: "/api/v1/users/info/educations",
            type: "POST",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            headers: {
                "Authorization": window.USER_TOKEN,
            },
            success: (response) => {
                $("#adding-new-educations").addClass("hidden")
                $("#registered-educations").removeClass("hidden")
                $(this).closest('.popup').slideToggle(function(){
                    $(this).closest('#popup').fadeOut()
                })
                InitEducations(response)
                $(`#form-add-educations`).trigger("reset");
                $("body").removeClass('no-scroll');
                return
            },
            error: function (request, status, error) {
                return request
            },
        });
    })

    $("#form-edit-skills").submit(function(e){
        e.preventDefault()

        const formData = new FormData()
        formData.append("skills", CHECKED_CHECKBOX)

        $.ajax({
            url: "/api/v1/users/info/skills",
            type: "POST",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            encrypt: "multipart/form-data",
            processData: false,
            headers: {
                "Authorization": window.USER_TOKEN,
            },
            success: (response) => {
                $(this).closest('.popup').slideToggle(function(){
                    $(this).closest('#popup').fadeOut()
                })
                InitSkills(response)
                $(`#form-edit-skills`).trigger("reset");
                $("body").removeClass('no-scroll');
            },
            error: function (request, status, error) {
                return request
            },
        });
    })

    $("#images").on("click", ".button-select-avatar", function(){
        $(".button-select-avatar").removeClass("bg-main")
        $(this).addClass("bg-main")
        const imgLink = $(this).find("img").prop("src")

        $("#form-basic-information").submit(function(e){
            e.preventDefault()
            const formData = new FormData()
            formData.append("profile_picture", imgLink)

            $.ajax({
                url: "/api/v1/users",
                type: "PUT",
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                encrypt: "multipart/form-data",
                processData: false,
                headers: {
                    "Authorization": window.USER_TOKEN,
                },
                success: (response) => {
                    InitBasic(response)
                    $(this).closest('#popup').fadeOut()
                    // $(this).closest('.popup').slideToggle(function(){
                    // })
                    $("body").removeClass('no-scroll');
                    $("#image-input").addClass("hidden")
                    $("#basic-input").removeClass("hidden")
                    return
                },
                error: function (request, status, error) {
                    return request
                },
            })
        })
    })
    
    function PutUserData(formName, url, callback = () => {}){
        $(`#${formName}`).submit(function(e){
            e.preventDefault();
            let formData = new FormData($(this)[0])

            $.ajax({
                url: url,
                type: "PUT",
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                encrypt: "multipart/form-data",
                processData: false,
                headers: {
                    "Authorization": window.USER_TOKEN,
                },
                success: (response) => {
                    // callback parameter this isinya button submit yang di klik
                    // biar bisa dipake buat manipulasi dom
                    callback(this, response)
                    InitActivesearch(response)
                    return
                },
                error: function (request, status, error) {
                    return request
                },
            });
        })
    }

    function InitBasic(data){
        $(".firstname").text(data.firstname)

        $("#basic-profile-pic").prop("src", data.profile_picture)
        $("#popup-profile-pic").prop("src", data.profile_picture)

        $("#navbar-fullname").text(`${data.firstname} ${data?.lastname}`)

        $("#basic-fullname").text(`${data.firstname ? data.firstname : ""} ${data.lastname ? data.lastname : ""}`)
        $("#popup-firstname").val(data.firstname)
        $("#popup-lastname").val(data.lastname)
        $("#basic-email").text(data.email)
        $("#popup-email").val(data.email)
        $("#basic-headline").text(data.headline)
        $("#popup-headline").val(data.headline)
        $("#basic-mobile").text(data.mobile ? data.mobile : "no data")
        $("#popup-mobile").val(data.mobile ? data.mobile : "")
        $("#basic-sex").text(data.sex ? data.sex : "no data")
        $("#popup-sex").val(data.sex ? data.sex : "")
        $("#basic-birthdate").text(data.date_of_birth ? data.date_of_birth : "no data")
        $("#popup-birthdate").val(data.date_of_birth ? data.date_of_birth : "")
        $("#basic-domicile").text(data.domicile ? data.domicile : "no data")
        $("#popup-domicile").val(data.domicile ? data.domicile : "")
        $(`input[name=sex][value=${data.sex}]`).prop("checked",true);
        $("#popup-pref-status").val(data.work_pref_status)
    }

    function InitSummary(data){
        if(data.summary){
            $("#off-summary").addClass("hidden")
            $("#on-summary").removeClass("hidden")
            $("#popup-summary-textarea").val(data.summary)
            document.getElementById('profile-summary-text').innerHTML = data.summary.replace(/\n/g, '<br/>');
        }else{
            $("#off-summary").removeClass("hidden")
            $("#on-summary").addClass("hidden")
        }
    }

    function InitAttachment(data){
        if(data){
            $("#portfolio").text(data.atc_portfolio ? data.atc_portfolio.length > 38 ? data.atc_portfolio.substring(0,38)+"..." : data.atc_portfolio : "-")
            $("#resume").text(data.atc_resume ? data.atc_resume.length > 38 ? data.atc_resume.substring(0,38)+"..." : data.atc_resume : "-")
            
            $("#portfolio").parent().prop("href", data.atc_portfolio ? data.atc_portfolio : "#")
            $("#resume").parent().prop("href", data.atc_resume ? data.atc_resume : "#")

            $("#popup-body-portfolio").val(data.atc_portfolio ? data.atc_portfolio : "")
            $("#popup-body-resume").val(data.atc_resume ? data.atc_resume : "")
        }else{
            $("#portfolio").text("-")
            $("#resume").text("-")
            $("#portfolio").parent().removeAttr('href');
            $("#resume").parent().removeAttr('href');
        }
    }

    function InitSocials(data){
        $(".link-social").addClass("hidden")
        if(data){
            $("#socials").removeClass("hidden")
            if(data.twitter){
                $("#popup-social-twitter").val(data.twitter)
                $("#link-twitter").removeClass("hidden").prop("href",data.twitter)
            }
            if(data.instagram){
                $("#popup-social-instagram").val(data.instagram)
                $("#link-instagram").removeClass("hidden").prop("href",data.instagram)
            }
            if(data.linkedin){
                $("#popup-social-linkedin").val(data.linkedin)
                $("#link-linkedin").removeClass("hidden").prop("href",data.linkedin)
            }
            if(data.behance){
                $("#popup-social-behance").val(data.behance)
                $("#link-behance").removeClass("hidden").prop("href",data.behance)
            }
            if(data.github){
                $("#popup-social-github").val(data.github)
                $("#link-github").removeClass("hidden").prop("href",data.github)
            }
            if(data.youtube){
                $("#popup-social-youtube").val(data.youtube)
                $("#link-youtube").removeClass("hidden").prop("href",data.youtube)
            }
        }else{
            $("#socials").addClass("hidden")
        }
    }

    function InitActivesearch(data){
        if(data.active_search){
            $("#visibilitas-desc").remove()
            $("#active-search").prop("checked", true)
            $("#active-search-status").text("Visibilitas Aktif").css("color", "green")
            $("#declare-active-search").addClass("hidden")
            $("#stop-active-search").removeClass("hidden")
        }else{
            $("#active-search").prop("checked", false)
            $("#active-search-status").text("Visibilitas Nonaktif").css("color", "red")
            $("#stop-active-search").addClass("hidden")
            $("#declare-active-search").removeClass("hidden")
        }

        let COMPLETION = 0

        if(data.profile_picture){
            $("#active-profile-picture").removeClass("uil-times text-red-500").addClass("uil-check")
            COMPLETION += 25
        }
        if(data.skills.length > 0){
            $("#active-profile-skills").removeClass("uil-times text-red-500").addClass("uil-check")
            COMPLETION += 25
        }
        if(data.educations.length > 0){
            $("#active-educations").removeClass("uil-times text-red-500").addClass("uil-check")
            COMPLETION += 25
        }
        if(data?.attachments?.atc_resume){
            $("#active-cv").removeClass("uil-times text-red-500").addClass("uil-check")
            COMPLETION += 25
        }

        if(COMPLETION == 100){
            $("#declare-active-search").prop("disabled", false)
        }
        
        if(data?.config?.show_birthday){
            $("#show-birthday").prop("checked", true)
        }
        if(data?.config?.show_phone){
            $("#show-phone").prop("checked", true)
        }
    }
    
    function InitExperiences(data){
        if(data.length <= 0){
            $("#on-experiences").addClass("hidden")
            $("#off-experiences").removeClass("hidden")
        }else{
            $("#off-experiences").addClass("hidden")
            $("#on-experiences").removeClass("hidden")
            $("#on-experiences").html("")
            $("#popup-body-experiences").html("")
            data.forEach((experienceData) => {
                let paragraph = experienceData.exp_description.substring(0,200).split('\n')
                $("#on-experiences").append(`
                    <div class="experience w-full py-5">
                        <div class="flex justify-between items-start">
                            <div class="">
                                <p class="mb-1 text-sm bg-main/60 px-2 w-max text-white">${experienceData.exp_type}</p>
                                <p class="text-xl font-semibold">${experienceData.exp_position.length > 50 ? experienceData.exp_position.substring(0,50)+".." : experienceData.exp_position}</p>
                                <div class="flex items-center gap-1 text-black/70">
                                    <p>${experienceData.exp_orgname ? experienceData.exp_orgname.substring(0,25)+".." : experienceData.exp_orgname}</p>
                                    <p>•</p>
                                    <p>${experienceData.exp_time}</p>
                                    <p>•</p>
                                    <p>${experienceData.exp_status} (${experienceData.exp_location})</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-sm">${formatDateMonth(experienceData.exp_startdate)} - ${experienceData.exp_enddate?formatDateMonth(experienceData.exp_enddate):"Now"}</p>
                                <p class="text-xs text-black/60">${calculateMonthDifference(experienceData.exp_startdate, experienceData.exp_enddate?experienceData.exp_enddate:getFormattedDate()).toUpperCase()}</p>
                            </div>
                        </div>
                        <!-- BODY -->
                        <p class="mt-3 hidden">${experienceData.exp_description.replace(/\n/g, '<br/>')}</p>
                        <p class="mt-3 content">${experienceData.exp_description.length > 210 ? `${experienceData.exp_description.replace(/\n/g, '<br/>').substring(0,210)}... <button class="button-readmore text-sm text-main">Read More</button>` : experienceData.exp_description.replace(/\n/g, '<br/>')}</p>
                    </div>
                `)
            
                $("#popup-body-experiences").append(`
                     <div class="card-experience bg-white p-5 py-4 rounded-lg">
                        <div class="relative flex gap-4">
                            <div class="w-full">
                                <div class="head lg:flex justify-between">
                                    <div class="">
                                        <p class="text-white bg-main/60 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">${experienceData.exp_type.toUpperCase()}</p>
                                        <p class="font-bold text-lg text-main mt-2 lg:mt-0">${experienceData.exp_position}</p>
                                        <p class="font-semibold text-sm text-black/80 font-second">${experienceData.exp_orgname} • ${experienceData.exp_time} • ${experienceData.exp_status} (${experienceData.exp_location}) </p>
                                    </div>
                                    <div class="text-left mt-1 lg:mt-0 lg:text-right flex gap-2 lg:block">
                                        <p class="font-second text-xs font-normal text-black/80">${formatDateMonth(experienceData.exp_startdate)} - ${experienceData.exp_enddate?formatDateMonth(experienceData.exp_enddate):"Now"}</p>
                                        <p class="text-xs font-semibold text-[#A5A5A5]">${calculateMonthDifference(experienceData.exp_startdate, experienceData.exp_enddate?experienceData.exp_enddate:getFormattedDate()).toUpperCase()}</p>
                                    </div>
                                </div>
                                <div <div class="body flex">
                                    <p class="font-second text-sm text-white-60 font-normal mt-3">${paragraph.join("</br>")}...</p>
                                </div>
                            </div>
                            <div class="absolute lg:static right-0 flex flex-col flex-row-reverse gap-4 lg:gap-2">
                                <svg class="cursor-pointer update-experience-button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M19.3 8.925L15.05 4.725L16.45 3.325C16.8333 2.94167 17.3042 2.75 17.8625 2.75C18.4208 2.75 18.8917 2.94167 19.275 3.325L20.675 4.725C21.0583 5.10833 21.2583 5.57083 21.275 6.1125C21.2917 6.65417 21.1083 7.11667 20.725 7.5L19.3 8.925ZM4 21C3.71667 21 3.47917 20.9042 3.2875 20.7125C3.09583 20.5208 3 20.2833 3 20V17.175C3 17.0417 3.025 16.9125 3.075 16.7875C3.125 16.6625 3.2 16.55 3.3 16.45L13.6 6.15L17.85 10.4L7.55 20.7C7.45 20.8 7.3375 20.875 7.2125 20.925C7.0875 20.975 6.95833 21 6.825 21H4Z" fill="#A5A5A5"/>
                                </svg>
                                <p class="id" style="display: none;">${experienceData.id}</p>
                                <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer delete-experience-button" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.525 21C6.125 21 5.775 20.85 5.475 20.55C5.175 20.25 5.025 19.9 5.025 19.5V5.25H4.75C4.53333 5.25 4.35417 5.17917 4.2125 5.0375C4.07083 4.89583 4 4.71667 4 4.5C4 4.28333 4.07083 4.10417 4.2125 3.9625C4.35417 3.82083 4.53333 3.75 4.75 3.75H8.7C8.7 3.53333 8.77083 3.35417 8.9125 3.2125C9.05417 3.07083 9.23333 3 9.45 3H14.55C14.7667 3 14.9458 3.07083 15.0875 3.2125C15.2292 3.35417 15.3 3.53333 15.3 3.75H19.25C19.4667 3.75 19.6458 3.82083 19.7875 3.9625C19.9292 4.10417 20 4.28333 20 4.5C20 4.71667 19.9292 4.89583 19.7875 5.0375C19.6458 5.17917 19.4667 5.25 19.25 5.25H18.975V19.5C18.975 19.9 18.825 20.25 18.525 20.55C18.225 20.85 17.875 21 17.475 21H6.525ZM9.175 16.6C9.175 16.8167 9.24583 16.9958 9.3875 17.1375C9.52917 17.2792 9.70833 17.35 9.925 17.35C10.1417 17.35 10.3208 17.2792 10.4625 17.1375C10.6042 16.9958 10.675 16.8167 10.675 16.6V8.125C10.675 7.90833 10.6042 7.72917 10.4625 7.5875C10.3208 7.44583 10.1417 7.375 9.925 7.375C9.70833 7.375 9.52917 7.44583 9.3875 7.5875C9.24583 7.72917 9.175 7.90833 9.175 8.125V16.6ZM13.325 16.6C13.325 16.8167 13.3958 16.9958 13.5375 17.1375C13.6792 17.2792 13.8583 17.35 14.075 17.35C14.2917 17.35 14.4708 17.2792 14.6125 17.1375C14.7542 16.9958 14.825 16.8167 14.825 16.6V8.125C14.825 7.90833 14.7542 7.72917 14.6125 7.5875C14.4708 7.44583 14.2917 7.375 14.075 7.375C13.8583 7.375 13.6792 7.44583 13.5375 7.5875C13.3958 7.72917 13.325 7.90833 13.325 8.125V16.6Z" fill="#A5A5A5"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                `)
            })
        }
    }

    function InitEducations(data){
        if(data.length <= 0){
            $("#on-educations").addClass("hidden")
            $("#off-educations").removeClass("hidden")
        }else{
            $("#off-educations").addClass("hidden")
            $("#on-educations").removeClass("hidden")
            $("#on-educations").html("")
            $("#popup-body-educations").html("")
            data.forEach((educationsData) => {
                let paragraph = educationsData.edu_description.substring(0,200).split('\n')
                $("#on-educations").append(`
                    <div class="experience w-full py-5">
                        <div class="flex justify-between items-start">
                            <div class="">
                                <p class="mb-1 text-sm bg-main/60 px-2 w-max text-white">${educationsData.edu_type}</p>
                                <p class="text-xl font-semibold">${educationsData.edu_program.length > 50 ? educationsData.edu_program.substring(0,50)+".." : educationsData.edu_program}</p>
                                <div class="flex items-center gap-1 text-black/70">
                                    <p>${educationsData.edu_institution > 25 ? educationsData.edu_institution.substring(0,25)+".." : educationsData.edu_institution}</p>
                                    <p>•</p>
                                    <p>${educationsData.edu_faculty}</p>
                                    <p>•</p>
                                    <p>${educationsData.edu_status} (${educationsData.edu_location})</p>
                                </div>
                            </div>
                            <div class="text-right">
                                <p class="text-sm">${formatDateMonth(educationsData.edu_startdate)} - ${educationsData.edu_enddate?formatDateMonth(educationsData.edu_enddate):"Now"}</p>
                                <p class="text-xs text-black/60">${calculateMonthDifference(educationsData.edu_startdate, educationsData.edu_enddate?educationsData.edu_enddate:getFormattedDate()).toUpperCase()}</p>
                            </div>
                        </div>
                        <!-- BODY -->
                        <p class="mt-3 hidden">${educationsData.edu_description.replace(/\n/g, '<br/>')}</p>
                        <p class="mt-3 content">${educationsData.edu_description.length > 210 ? `${educationsData.edu_description.replace(/\n/g, '<br/>').substring(0,210)}... <button class="button-readmore text-sm text-main">Read More</button>` : educationsData.edu_description.replace(/\n/g, '<br/>')}</p>
                    </div>
                `)
            
                $("#popup-body-educations").append(`
                    <div class="card-education bg-white p-5 py-4 rounded-lg">
                        <div class="relative flex gap-4">
                            <div class="w-full">
                                <div class="head lg:flex justify-between">
                                    <div class="">
                                        <div class="flex items-center gap-2">
                                            <p class="text-white bg-main/60 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">${educationsData.edu_type.toUpperCase()}</p>
                                            <p class="text-white bg-white/30 py-[2px] px-2 inline cursor-default text-xs font-second font-medium">GPA ${educationsData.edu_gpa}</p>
                                        </div>
                                        <p class="font-bold text-lg text-main">${educationsData.edu_program}</p>
                                        <p class="font-semibold text-sm text-white-80 font-second">${educationsData.edu_institution} • ${educationsData.edu_status} (${educationsData.edu_location}) </p>
                                    </div>
                                    <div class="text-left mt-1 lg:mt-0 lg:text-right flex gap-2 lg:block">
                                        <p class="font-second text-xs font-normal text-black/80">${formatDateMonth(educationsData.edu_startdate)} - ${formatDateMonth(educationsData.edu_enddate)}</p>
                                        <p class="text-xs font-semibold text-[#A5A5A5]">${calculateMonthDifference(educationsData.edu_startdate, educationsData.edu_enddate).toUpperCase()}</p>
                                    </div>
                                </div>
                                <div class="body flex">
                                    <p class="font-second text-sm text-white-60 font-normal mt-3">${paragraph.join("</br>")}...</p>
                                </div>
                            </div>
                            <div class="absolute lg:static right-0 flex lg:flex-col flex-row-reverse gap-4 lg:gap-2">
                                <svg class="cursor-pointer update-education-button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M19.3 8.925L15.05 4.725L16.45 3.325C16.8333 2.94167 17.3042 2.75 17.8625 2.75C18.4208 2.75 18.8917 2.94167 19.275 3.325L20.675 4.725C21.0583 5.10833 21.2583 5.57083 21.275 6.1125C21.2917 6.65417 21.1083 7.11667 20.725 7.5L19.3 8.925ZM4 21C3.71667 21 3.47917 20.9042 3.2875 20.7125C3.09583 20.5208 3 20.2833 3 20V17.175C3 17.0417 3.025 16.9125 3.075 16.7875C3.125 16.6625 3.2 16.55 3.3 16.45L13.6 6.15L17.85 10.4L7.55 20.7C7.45 20.8 7.3375 20.875 7.2125 20.925C7.0875 20.975 6.95833 21 6.825 21H4Z" fill="#A5A5A5"/>
                                </svg>
                                <p class="id" style="display: none;">${educationsData.id}</p>
                                <svg class="cursor-pointer delete-education-button" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.525 21C6.125 21 5.775 20.85 5.475 20.55C5.175 20.25 5.025 19.9 5.025 19.5V5.25H4.75C4.53333 5.25 4.35417 5.17917 4.2125 5.0375C4.07083 4.89583 4 4.71667 4 4.5C4 4.28333 4.07083 4.10417 4.2125 3.9625C4.35417 3.82083 4.53333 3.75 4.75 3.75H8.7C8.7 3.53333 8.77083 3.35417 8.9125 3.2125C9.05417 3.07083 9.23333 3 9.45 3H14.55C14.7667 3 14.9458 3.07083 15.0875 3.2125C15.2292 3.35417 15.3 3.53333 15.3 3.75H19.25C19.4667 3.75 19.6458 3.82083 19.7875 3.9625C19.9292 4.10417 20 4.28333 20 4.5C20 4.71667 19.9292 4.89583 19.7875 5.0375C19.6458 5.17917 19.4667 5.25 19.25 5.25H18.975V19.5C18.975 19.9 18.825 20.25 18.525 20.55C18.225 20.85 17.875 21 17.475 21H6.525ZM9.175 16.6C9.175 16.8167 9.24583 16.9958 9.3875 17.1375C9.52917 17.2792 9.70833 17.35 9.925 17.35C10.1417 17.35 10.3208 17.2792 10.4625 17.1375C10.6042 16.9958 10.675 16.8167 10.675 16.6V8.125C10.675 7.90833 10.6042 7.72917 10.4625 7.5875C10.3208 7.44583 10.1417 7.375 9.925 7.375C9.70833 7.375 9.52917 7.44583 9.3875 7.5875C9.24583 7.72917 9.175 7.90833 9.175 8.125V16.6ZM13.325 16.6C13.325 16.8167 13.3958 16.9958 13.5375 17.1375C13.6792 17.2792 13.8583 17.35 14.075 17.35C14.2917 17.35 14.4708 17.2792 14.6125 17.1375C14.7542 16.9958 14.825 16.8167 14.825 16.6V8.125C14.825 7.90833 14.7542 7.72917 14.6125 7.5875C14.4708 7.44583 14.2917 7.375 14.075 7.375C13.8583 7.375 13.6792 7.44583 13.5375 7.5875C13.3958 7.72917 13.325 7.90833 13.325 8.125V16.6Z" fill="#A5A5A5"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                `)
            })
        }
    }

    function InitSkills(data){
        if(data.length > 0){
            $("#on-skills").removeClass("hidden")
            $("#on-skills").html("")
            $("#off-skills").addClass("hidden")
            data.forEach(skill => {
                CHECKED_CHECKBOX.push(skill.id)
                $(`#checkbox-${skill.id}`).prop("checked", true)
                $("#active-skills").append(`<button id="button-${skill.id}" type="button" class="m-1 text-black/80 px-4 py-1 rounded-lg bg-main text-white">${skill.skill}</button>`)
                $("#on-skills").append(`<button type="button" class="m-1 text-black/80 px-4 py-1 rounded-lg bg-main text-white">${skill.skill}</button>`)
            })
        }else{
            $("#on-skills").addClass("hidden")
            $("#off-skills").removeClass("hidden")
        }
    }
    
   



    function calculateMonthDifference(startDate, endDate) {
        let start = new Date(startDate);
        let end = new Date(endDate);

        let yearDiff = end.getFullYear() - start.getFullYear();
        let monthDiff = end.getMonth() - start.getMonth();

        if (monthDiff < 0) {
            yearDiff -= 1;
            monthDiff += 12;
        }

        if (yearDiff === 0) {
            return `${monthDiff} Month`;
        } else if (yearDiff === 1) {
            return `1 Year ${monthDiff} Month`;
        } else {
            return `${yearDiff} Years ${monthDiff} Month`;
        }
    }

    function formatDateMonth(inputDate) {
        // Parse tanggal dalam format "YYYY-MM-DD"
        const dateParts = inputDate.split('-');
        const year = dateParts[0];
        const month = dateParts[1];
    
        // Daftar nama bulan
        const monthNames = [
            'Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun',
            'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'
        ];
    
        // Konversi komponen bulan ke nama bulan
        const formattedMonth = monthNames[parseInt(month, 10) - 1];
    
        // Gabungkan komponen-komponen dalam format yang diinginkan
        const formattedDate = `${formattedMonth} ${year}`;
    
        return formattedDate;
    }

    function getFormattedDate() {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0'); // Dapat ditambahkan 1 karena bulan dimulai dari 0.
        const day = String(today.getDate()).padStart(2, '0');
    
        const formattedDate = `${year}-${month}-${day}`;
        return formattedDate;
    }

</script>